-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "TipoDocumento" AS ENUM ('CEDULA', 'PASAPORTE');

-- CreateEnum
CREATE TYPE "Sexo" AS ENUM ('HOMBRE', 'MUJER');

-- CreateEnum
CREATE TYPE "Genero" AS ENUM ('MASCULINO', 'FEMENINO');

-- CreateEnum
CREATE TYPE "EstadoCivil" AS ENUM ('SOLTERO', 'CASADO', 'DIVORCIADO', 'UNION_LIBRE', 'VIUDO');

-- CreateEnum
CREATE TYPE "Etnia" AS ENUM ('INDIGENA', 'AFROECUATORIANO', 'NEGRO', 'MULATO', 'MONTUVIO', 'MESTIZO', 'BLANCO', 'OTRO', 'NO_REGISTRA');

-- CreateEnum
CREATE TYPE "TipoSangre" AS ENUM ('A_POSITIVO', 'A_NEGATIVO', 'B_POSITIVO', 'B_NEGATIVO', 'AB_POSITIVO', 'AB_NEGATIVO', 'O_POSITIVO', 'O_NEGATIVO');

-- CreateEnum
CREATE TYPE "Discapacidad" AS ENUM ('SI', 'NO');

-- CreateEnum
CREATE TYPE "TipoDiscapacidad" AS ENUM ('FISICA', 'INTELECTUAL', 'AUDITIVA', 'VISUAL', 'MENTAL', 'OTRA', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "TipoColegio" AS ENUM ('FISCAL', 'FISCOMISIONAL', 'PARTICULAR', 'MUNICIPAL', 'EXTRANJERO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "ModalidadCarrera" AS ENUM ('PRESENCIAL', 'SEMIPRESENCIAL', 'A_DISTANCIA', 'DUAL', 'LINEA', 'HIBRIDA');

-- CreateEnum
CREATE TYPE "JornadaCarrera" AS ENUM ('MATUTINA', 'VESPERTINA', 'NOCTURNA', 'INTENSIVA');

-- CreateEnum
CREATE TYPE "TipoMatricula" AS ENUM ('ORDINARIA', 'EXTRAORDINARIA', 'ESPECIAL');

-- CreateEnum
CREATE TYPE "NivelAcademico" AS ENUM ('PRIMERO', 'SEGUNDO', 'TERCERO', 'CUARTO', 'QUINTO', 'SEXTO');

-- CreateEnum
CREATE TYPE "HaRepetidoAlMenosUnaMateria" AS ENUM ('SI', 'NO');

-- CreateEnum
CREATE TYPE "HaPerdidoLaGratuidad" AS ENUM ('SI', 'NO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "Paralelo" AS ENUM ('A', 'B', 'C', 'D');

-- CreateEnum
CREATE TYPE "RecibePensionDiferenciada" AS ENUM ('SI', 'NO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "EstudianteOcupacion" AS ENUM ('SOLO_ESTUDIA', 'TRABAJA_Y_ESTUDIA');

-- CreateEnum
CREATE TYPE "IngresosEstudiante" AS ENUM ('FINANCIAR_ESTUDIOS', 'PARA_MANTENER_HOGAR', 'GASTOS_PERSONALES', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "BonoDesarrollo" AS ENUM ('SI', 'NO');

-- CreateEnum
CREATE TYPE "HaRealizadoPracticasPreprofesionales" AS ENUM ('SI', 'NO');

-- CreateEnum
CREATE TYPE "EntornoInstitucionalPracticasProfesionales" AS ENUM ('PUBLICA', 'PRIVADA', 'ONG', 'OTRO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "SectorEconomicoPracticaProfesional" AS ENUM ('AGRICULTURA_GANADERIA_SILVICULTURA_Y_PESCA', 'EXPLOTACION_DE_MINAS_Y_CANTERAS', 'INDUSTRIAS_MANUFACTURERAS', 'SUMINISTRO_ELECTRICIDAD_GAS_VAPOR_AIRE_ACONDICIONADO', 'DISTRIBUCION_AGUA_ALCANTARILLADO_GESTION_DESECHOS_SANEAMIENTO', 'CONSTRUCCION', 'COMERCIO_MAYOR_MENOR_REPARACION_VEHICULOS_AUTOMOTORES', 'TRANSPORTE_Y_ALMACENAMIENTO', 'ALOJAMIENTO_Y_SERVICIO_DE_COMIDAS', 'INFORMACION_Y_COMUNICACION', 'ACTIVIDADES_FINANCIERAS_Y_DE_SEGUROS', 'ACTIVIDADES_INMOBILIARIAS', 'ACTIVIDADES_PROFESIONALES_CIENTIFICAS_Y_TECNICAS', 'SERVICIOS_ADMINISTRATIVOS_Y_DE_APOYO', 'ADMINISTRACION_PUBLICA_Y_DEFENSA', 'ENSENANZA', 'ATENCION_SALUD_HUMANA_Y_ASISTENCIA_SOCIAL', 'ARTES_ENTRETENIMIENTO_Y_RECREACION', 'OTRAS_ACTIVIDADES_DE_SERVICIOS', 'HOGARES_PRODUCTORES_BIENES_SERVICIOS_USO_PROPIO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "TipoBeca" AS ENUM ('TOTAL', 'PARCIAL', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "PrimeraRazonBeca" AS ENUM ('SOCIOECONOMICA', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "SegundaRazonBeca" AS ENUM ('EXCELENCIA_ACADEMICA', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "TerceraRazonBeca" AS ENUM ('DEPORTISTA', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "CuartaRazonBeca" AS ENUM ('PUEBLOS_Y_NACIONALIDADES', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "QuintaRazonBeca" AS ENUM ('DISCAPACIDAD', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "SextaRazonBeca" AS ENUM ('OTRA', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "FinanciamientoBeca" AS ENUM ('FONDOS_PROPIOS', 'TRANFERENCIA_DEL_ESTADO', 'DONACIONES', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "ParticipaEnProyectoVinculacionSociedad" AS ENUM ('SI', 'NO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "TipoAlcanceProyectoVinculacion" AS ENUM ('NACIONAL', 'PROVINCIAL', 'CANTONAL', 'PARROQUIAL', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "NivelFormacionPadre" AS ENUM ('CENTRO_ALFABETIZACION', 'JARDIN_INFANTES', 'PRIMARIA', 'EDUCACION_BASICA', 'SECUNDARIA', 'EDUCACION_MEDIA', 'SUPERIOR_NO_UNIVERSITARIA', 'SUPERIOR_UNIVERSITARIA', 'POSGRADO', 'NO_APLICA');

-- CreateEnum
CREATE TYPE "NivelFormacionMadre" AS ENUM ('CENTRO_ALFABETIZACION', 'JARDIN_INFANTES', 'PRIMARIA', 'EDUCACION_BASICA', 'SECUNDARIA', 'EDUCACION_MEDIA', 'SUPERIOR_NO_UNIVERSITARIA', 'SUPERIOR_UNIVERSITARIA', 'POSTGRADO', 'NO_APLICA');

-- CreateTable
CREATE TABLE "Estudiante" (
    "id" SERIAL NOT NULL,
    "tipoDocumento" "TipoDocumento" NOT NULL,
    "numeroIdentificacion" TEXT NOT NULL,
    "primerApellido" TEXT NOT NULL,
    "segundoApellido" TEXT NOT NULL DEFAULT 'NA',
    "primerNombre" TEXT NOT NULL,
    "segundoNombre" TEXT NOT NULL DEFAULT 'NA',
    "sexo" "Sexo" NOT NULL,
    "genero" "Genero" NOT NULL,
    "estadoCivil" "EstadoCivil" NOT NULL,
    "etnia" "Etnia" NOT NULL,
    "tipoSangre" "TipoSangre" NOT NULL,
    "discapacidad" "Discapacidad" NOT NULL,
    "porcentajeDiscapacidad" TEXT NOT NULL DEFAULT 'NA',
    "numCarnetConadis" TEXT NOT NULL DEFAULT 'NA',
    "tipoDiscapacidad" "TipoDiscapacidad" NOT NULL,
    "fechaNacimiento" TEXT NOT NULL,
    "tipoColegioId" "TipoColegio" NOT NULL,
    "modalidadCarrera" "ModalidadCarrera" NOT NULL,
    "jornadaCarrera" "JornadaCarrera" NOT NULL,
    "fechaInicioCarrera" TEXT NOT NULL,
    "fechaMatricula" TEXT NOT NULL,
    "tipoMatricula" "TipoMatricula" NOT NULL,
    "duracionPeriodoAcademico" INTEGER NOT NULL,
    "nivelAcademico" "NivelAcademico" NOT NULL,
    "haRepetidoAlMenosUnaMateria" "HaRepetidoAlMenosUnaMateria" NOT NULL,
    "paralelo" "Paralelo" NOT NULL,
    "haPerdidoLaGratuidad" "HaPerdidoLaGratuidad" NOT NULL,
    "recibePensionDiferenciada" "RecibePensionDiferenciada" NOT NULL,
    "estudianteOcupacion" "EstudianteOcupacion" NOT NULL,
    "ingresosEstudiante" "IngresosEstudiante" NOT NULL,
    "bonoDesarrollo" "BonoDesarrollo" NOT NULL,
    "haRealizadoPracticasPreprofesionales" "HaRealizadoPracticasPreprofesionales" NOT NULL,
    "nroHorasPracticasPreprofesionalesPorPeriodo" TEXT NOT NULL DEFAULT 'NA',
    "entornoInstitucionalPracticasProfesionales" "EntornoInstitucionalPracticasProfesionales" NOT NULL,
    "tipoBeca" "TipoBeca" NOT NULL,
    "primeraRazonBeca" "PrimeraRazonBeca" NOT NULL,
    "segundaRazonBeca" "SegundaRazonBeca" NOT NULL,
    "terceraRazonBeca" "TerceraRazonBeca" NOT NULL,
    "cuartaRazonBeca" "CuartaRazonBeca" NOT NULL,
    "quintaRazonBeca" "QuintaRazonBeca" NOT NULL,
    "sextaRazonBeca" "SextaRazonBeca" NOT NULL,
    "montoBeca" TEXT NOT NULL DEFAULT 'NA',
    "porcentajeBecaCoberturaArancel" TEXT NOT NULL DEFAULT 'NA',
    "porcentajeBecaCoberturaManutencion" TEXT NOT NULL DEFAULT 'NA',
    "financiamientoBeca" "FinanciamientoBeca",
    "montoAyudaEconomica" TEXT NOT NULL DEFAULT 'NA',
    "montoCreditoEducativo" TEXT NOT NULL DEFAULT 'NA',
    "participaEnProyectoVinculacionSociedad" "ParticipaEnProyectoVinculacionSociedad" NOT NULL,
    "tipoAlcanceProyectoVinculacion" "TipoAlcanceProyectoVinculacion",
    "correoElectronico" TEXT NOT NULL DEFAULT 'NA',
    "numeroCelular" TEXT NOT NULL,
    "nivelFormacionPadre" "NivelFormacionPadre" NOT NULL,
    "nivelFormacionMadre" "NivelFormacionMadre" NOT NULL,
    "ingresoTotalHogar" TEXT NOT NULL DEFAULT 'NA',
    "cantidadMiembrosHogar" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "alergias" TEXT NOT NULL DEFAULT 'NA',
    "carrera" TEXT NOT NULL DEFAULT 'NA',
    "correoInstitucional" TEXT NOT NULL DEFAULT 'NA',
    "direccionDomicilio" TEXT NOT NULL DEFAULT 'NA',
    "disenoCurricular" TEXT NOT NULL DEFAULT 'NA',
    "enfermedadCatastrofica" TEXT NOT NULL DEFAULT 'NA',
    "lugarResidencia" TEXT NOT NULL DEFAULT 'NA',
    "medicamentos" TEXT NOT NULL DEFAULT 'NA',
    "periodoAcademico" TEXT NOT NULL DEFAULT 'NA',
    "referenciaPersonalNombre" TEXT NOT NULL DEFAULT 'NA',
    "referenciaPersonalParentesco" TEXT NOT NULL DEFAULT 'NA',
    "referenciaPersonalTelefono" TEXT NOT NULL DEFAULT 'NA',
    "anioGraduacion" TEXT NOT NULL DEFAULT 'NA',
    "barrioSector" TEXT NOT NULL DEFAULT 'NA',
    "cantidadBanos" INTEGER,
    "cantidadHabitaciones" INTEGER,
    "comparteHabitacion" TEXT NOT NULL DEFAULT 'NA',
    "conQuienVive" TEXT NOT NULL DEFAULT 'NA',
    "coordenadasVivienda" TEXT NOT NULL DEFAULT 'NA',
    "croquisViviendaUrl" TEXT NOT NULL DEFAULT 'NA',
    "dinamicaFamiliar" TEXT NOT NULL DEFAULT 'NA',
    "egresoAlimentacion" TEXT NOT NULL DEFAULT 'NA',
    "egresoEducacion" TEXT NOT NULL DEFAULT 'NA',
    "egresoIndumentaria" TEXT NOT NULL DEFAULT 'NA',
    "egresoOtros" TEXT NOT NULL DEFAULT 'NA',
    "egresoSalud" TEXT NOT NULL DEFAULT 'NA',
    "egresoServiciosBasicos" TEXT NOT NULL DEFAULT 'NA',
    "egresoTransporte" TEXT NOT NULL DEFAULT 'NA',
    "egresoVivienda" TEXT NOT NULL DEFAULT 'NA',
    "estructuraVivienda" TEXT NOT NULL DEFAULT 'NA',
    "estudianteCabezaFamiliar" TEXT NOT NULL DEFAULT 'NA',
    "familiaDiscapacidadEnfermedadCatastrofica" TEXT NOT NULL DEFAULT 'NA',
    "familiaParentesco" TEXT NOT NULL DEFAULT 'NA',
    "familiaProblemaSalud" TEXT NOT NULL DEFAULT 'NA',
    "familiaServiciosMedicos" TEXT NOT NULL DEFAULT 'NA',
    "familiaServiciosMedicosDetalle" TEXT NOT NULL DEFAULT 'NA',
    "financiamientoQuienes" TEXT NOT NULL DEFAULT 'NA',
    "nombreColegioProcedencia" TEXT NOT NULL DEFAULT 'NA',
    "numeroConvencional" TEXT NOT NULL DEFAULT 'NA',
    "parroquiaResidencia" TEXT NOT NULL DEFAULT 'NA',
    "presentaAlergiaImportante" TEXT NOT NULL DEFAULT 'NA',
    "presentaCarnetDiscapacidad" TEXT NOT NULL DEFAULT 'NA',
    "referenciaDomiciliaria" TEXT NOT NULL DEFAULT 'NA',
    "serviciosDisponibles" TEXT NOT NULL DEFAULT 'NA',
    "tamanoViviendaSuficiente" TEXT NOT NULL DEFAULT 'NA',
    "tipoPropiedadVivienda" TEXT NOT NULL DEFAULT 'NA',
    "tipoViolenciaFamiliar" TEXT NOT NULL DEFAULT 'NA',
    "tipoVivienda" TEXT NOT NULL DEFAULT 'NA',
    "tituloBachiller" TEXT NOT NULL DEFAULT 'NA',
    "totalEgresos" TEXT NOT NULL DEFAULT 'NA',
    "violenciaFamiliar" TEXT NOT NULL DEFAULT 'NA',
    "zonaVivienda" TEXT NOT NULL DEFAULT 'NA',
    "nacionalidadId" TEXT,
    "puebloId" TEXT,
    "sectorEconomicoId" TEXT,
    "paisNacionalidadId" TEXT,
    "cantonNacimientoId" TEXT,
    "paisResidenciaId" TEXT,
    "cantonResidenciaId" TEXT,
    "provinciaNacimientoId" TEXT,
    "provinciaResidenciaId" TEXT,

    CONSTRAINT "Estudiante_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ComposicionFamiliar" (
    "id" SERIAL NOT NULL,
    "estudianteId" INTEGER NOT NULL,
    "nombresApellidos" TEXT NOT NULL DEFAULT 'NA',
    "fechaNacimiento" TEXT NOT NULL DEFAULT 'NA',
    "cedulaIdentidad" TEXT NOT NULL DEFAULT 'NA',
    "estadoCivil" TEXT NOT NULL DEFAULT 'NA',
    "parentesco" TEXT NOT NULL DEFAULT 'NA',
    "nivelEstudios" TEXT NOT NULL DEFAULT 'NA',
    "titulo" TEXT NOT NULL DEFAULT 'NA',
    "laborOcupacion" TEXT NOT NULL DEFAULT 'NA',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ComposicionFamiliar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IngresoFamiliar" (
    "id" SERIAL NOT NULL,
    "estudianteId" INTEGER NOT NULL,
    "nombresApellidos" TEXT NOT NULL DEFAULT 'NA',
    "parentesco" TEXT NOT NULL DEFAULT 'NA',
    "actividadLaboral" TEXT NOT NULL DEFAULT 'NA',
    "ingresoMensual" TEXT NOT NULL DEFAULT 'NA',
    "ingresosExtras" TEXT NOT NULL DEFAULT 'NA',
    "total" TEXT NOT NULL DEFAULT 'NA',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "IngresoFamiliar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Canton" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "provinciaId" TEXT NOT NULL,
    "codigo" INTEGER NOT NULL,

    CONSTRAINT "Canton_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pais" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "codigo" INTEGER NOT NULL,

    CONSTRAINT "Pais_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Provincia" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "paisId" TEXT NOT NULL,
    "codigo" INTEGER NOT NULL,

    CONSTRAINT "Provincia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PuebloYNacionalidad" (
    "id" TEXT NOT NULL,
    "codigo" INTEGER NOT NULL,
    "nombre" TEXT NOT NULL,

    CONSTRAINT "PuebloYNacionalidad_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SectorEconomico" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "codigo" INTEGER NOT NULL,

    CONSTRAINT "SectorEconomico_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Estudiante_numeroIdentificacion_tipoDocumento_key" ON "Estudiante"("numeroIdentificacion", "tipoDocumento");

-- CreateIndex
CREATE UNIQUE INDEX "Canton_codigo_key" ON "Canton"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "Canton_nombre_provinciaId_key" ON "Canton"("nombre", "provinciaId");

-- CreateIndex
CREATE UNIQUE INDEX "Pais_nombre_key" ON "Pais"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "Pais_codigo_key" ON "Pais"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "Provincia_codigo_key" ON "Provincia"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "Provincia_nombre_paisId_key" ON "Provincia"("nombre", "paisId");

-- CreateIndex
CREATE UNIQUE INDEX "PuebloYNacionalidad_codigo_key" ON "PuebloYNacionalidad"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "PuebloYNacionalidad_nombre_key" ON "PuebloYNacionalidad"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "SectorEconomico_nombre_key" ON "SectorEconomico"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "SectorEconomico_codigo_key" ON "SectorEconomico"("codigo");

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_cantonNacimientoId_fkey" FOREIGN KEY ("cantonNacimientoId") REFERENCES "Canton"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_cantonResidenciaId_fkey" FOREIGN KEY ("cantonResidenciaId") REFERENCES "Canton"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_nacionalidadId_fkey" FOREIGN KEY ("nacionalidadId") REFERENCES "PuebloYNacionalidad"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_paisNacionalidadId_fkey" FOREIGN KEY ("paisNacionalidadId") REFERENCES "Pais"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_paisResidenciaId_fkey" FOREIGN KEY ("paisResidenciaId") REFERENCES "Pais"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_provinciaNacimientoId_fkey" FOREIGN KEY ("provinciaNacimientoId") REFERENCES "Provincia"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_provinciaResidenciaId_fkey" FOREIGN KEY ("provinciaResidenciaId") REFERENCES "Provincia"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_puebloId_fkey" FOREIGN KEY ("puebloId") REFERENCES "PuebloYNacionalidad"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Estudiante" ADD CONSTRAINT "Estudiante_sectorEconomicoId_fkey" FOREIGN KEY ("sectorEconomicoId") REFERENCES "SectorEconomico"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ComposicionFamiliar" ADD CONSTRAINT "ComposicionFamiliar_estudianteId_fkey" FOREIGN KEY ("estudianteId") REFERENCES "Estudiante"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IngresoFamiliar" ADD CONSTRAINT "IngresoFamiliar_estudianteId_fkey" FOREIGN KEY ("estudianteId") REFERENCES "Estudiante"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Canton" ADD CONSTRAINT "Canton_provinciaId_fkey" FOREIGN KEY ("provinciaId") REFERENCES "Provincia"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Provincia" ADD CONSTRAINT "Provincia_paisId_fkey" FOREIGN KEY ("paisId") REFERENCES "Pais"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

